
/* Using After and Before pseudoelements to make a diagonal box rotation appears out off a section and move accordly to the page width */

tanana:after {
    background-color: #233466;
    bottom: -1.5rem;
    content: "";
    display: block;
    height: 3rem;
    left: calc(50% - 1.5rem);
    position: absolute;
    transform: rotate(45deg);
    width: 3rem;
}

/* Best media querie example for me to remember how to crop images for mobile  */

@media (min-width: 601px) {
    #logo {
     background: url('../images/logo-medium.png');
    }
   }
  
   @media (max-width: 600px) {
    #logo {
     background: url('../images/logo--small.png');
  
    }
   }
  